<div class="container mt-3">
    <div class="row">
        <div class="col-5 mx-auto  text-center  ">
            <div class="header p-2 mb-2"><h3>Todo List</h3></div>
            <div class="input-group ">
                <input [(ngModel)]="newTodo" (keyup.enter)="saveTodo()" type="text" class="form-control" placeholder="Enter a todo" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button (click)="saveTodo()"  class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
            </div>
          
            <ul class="list-group mt-4">
                <li *ngFor="let todo of todos;let i = index"  class="list-group-item d-flex justify-content-between" [class.done]="!todo.isCompleted">{{todo.name}}
                    <div>
                        <button (click)="done(i)"  class="btn check">check</button>
                        <button class="btn ms-2 delete" (click)="remove(i)">delete</button>
                    </div>
                </li>
              </ul>
            
              <button class="btn delete col-lg-5 mt-5" *ngIf="todos.length > 0" (click)="clearAll()">Clear All</button>
        </div>
        
    </div>
</div>