.header{
    color: #EEEEEE;
    background-color: #D65A31;
}
.btn{
    background-color: #D65A31 !important;
    color: #EEEEEE;
}
.list-group{
    background-color: #EEEEEE;
}
ul li{
    text-align: left;
}

.form-check{
    color: #EEEEEE;
}
.delete{
    background-color: #ae2012 !important;
    padding: 5px !important;
}